.card_container{
    width: 20rem;
}

.card_container > * {
    margin: 1rem;
}

.card_container_styling {

    padding: 1em;

    background-image: linear-gradient(var( --secondary-background-500), var( --secondary-background-800));

    border-radius: 20px;
}

.image_container {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;

    background-color: rgb(38, 46, 66);
}

.main_heading{

    font-size: 1.5rem;
    margin-bottom: .8rem;
    
}

.description{
    font-size: .7rem;
    line-height: 1.2rem;
    
    color: var(--light-gray-300);
}

.rating_btn_container{
    display: flex;
    justify-content: space-between;

    margin: 1.5rem 0;
}

.rating_btn {
    height: 2.5rem;
    width: 2.5rem;
    color: var(--light-gray-300);
    background-color: var(--secondary-background-500);
    border-radius: 50%;

    transition: background-color var(--transition-1),
                color var(--transition-1);
}

.rating_btn:hover {
    color: var(--color-light);
    background-color: var(--primary-background);
}


.rating_btn:focus {
    background-color: var(--light-gray-300);
    color: var(--color-light);
}


.submit_btn {
    width: 100%;
    background-color: var(--primary-background);

    padding: .7em 0;
    text-transform: uppercase;

    letter-spacing: 2px;
    border-radius: 100vh;
    font-size: .8rem;

    transition: background-color var(--transition-1), color var(--transition-1);
}

.submit_btn a {
    width: 100%;
}

.submit_btn:hover{
    background-color: var(--color-light);
    color: var(--primary-background);
}